cuckoo:
  image: {{ cuckoo_image }}
  links:
    - inetsim
  mem_limit: {{ ram_limit }}
  volumes:
    - {{ vm_disk_store }}:/var/lib/libvirt/images:ro
    - {{ vm_meta_store }}:/opt/vm_meta:ro
  privileged: true
  cap_add:
    - ALL
  command: {{ vm_meta_file }} {{ ram_volume }}
  dns: localhost
inetsim:
  image: {{ inetsim_image }}
  mem_limit: 512m
  cap_add:
    - NET_ADMIN
  dns: localhost
router:
  image: {{ router_image }}
  mem_limit: 512m
  cap_add:
    - NET_ADMIN
  network:
    - host