{% for context in contexts %}
auto {{ context.dummy_iface_name }} dummy
iface {{ context.dummy_iface_name }} inet manual
    pre-up /sbin/ip link add {{ context.dummy_iface_name }} type dummy
    up /sbin/ip link set {{ context.dummy_iface_name }} address {{ bridge.dummy_iface_mac }}

auto {{ context.virt_bridge_name }}
iface {{ context.virt_bridge_name }} inet static
    bridge_ports {{ context.dummy_iface_name }}
    bridge_stp on
    bridge_fd 2
    address {{ context.virt_bridge_ip }}
    netmask {{ context.virt_bridge_netmask }}

{% endfor %}
