auto {{ dummy_iface_name }} dummy
iface {{ dummy_iface_name }} inet manual
    pre-up /sbin/ip link add {{ dummy_iface_name }} type dummy
    up /sbin/ip link set {{ dummy_iface_name }} address {{ dummy_iface_mac }}

auto {{ virt_bridge_name }}
iface {{ virt_bridge_name }} inet static
    bridge_ports {{ dummy_iface_name }}
    bridge_stp on
    bridge_fd 2
    address {{ virt_bridge_ip }}
    netmask {{ virt_bridge_netmask }}

