[kvm]
machines = {{ machine_names }}


{% for machine in machines %}
[{{ machine.name }}]
label = {{ machine.label }}
platform = {{ machine.platform }}
ip = {{ machine.ip }}
tags = {{ machine.tags }}
volatility_profile = {{ machine.guest_profile }}
interface = {{ machine.interface }}

{% endfor %}

