<network>
  <name>{{ network_name }}</name>
  <uuid>{{ network_uuid }}</uuid>
  <bridge name='virbr1' stp='on' delay='0'/>
  <mac address='52:54:00:4c:24:65'/>
  <ip address='{{ network_ip }}' netmask='{{ network_netmask }}'>
  </ip>
</network>

