pip==9.0.1
setuptools==36.6.0
pyparsing==2.2.0
appdirs==1.4.3
six==1.11.0
scapy==2.3.2
cffi==1.11.2
cryptography==2.1.2
asn1crypto==0.23.0
pycrypto==2.6.1
pyOpenSSL==17.3.0
cuckoo==2.0.5.3
supervisor==3.3.3
superlance==1.0.0
lxml==4.1.0
distorm3==3.3.4
pycparser==2.18
ipaddress==1.0.18
enum34==1.1.6
idna==2.6
requests==2.13.0
requests[security]==2.13.0
