pip==6.0.8
setuptools==24.0.2
pyparsing==2.2.0
appdirs==1.4.3
six==1.10.0
scapy==2.3.2
cffi==1.11.5
cryptography==2.0.3
asn1crypto==0.24.0
pycryptodome==3.4.7
pyOpenSSL==17.4.0
cuckoo==2.0.4.4
supervisor==3.3.1
superlance==1.0.0
lxml==3.3.3
distorm3
pycparser==2.18
ipaddress==1.0.22
enum34==1.1.6
idna==2.6
requests==2.6.0
requests[security]==2.6.0
